body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgba(149,6,191,1) 0%, rgba(87,10,187,1) 45%, rgba(0,52,218,1) 100%);}

p{
  font-size: 1rem;
  font-weight: 200;
}

.container{
  min-height: 75vh;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  color: #e6e6e6;
}

/* -------------------- */
/* ------ header ------ */
/* -------------------- */

.header-title{
  margin-left: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  font-size: 1.6rem;
  color: #e6e6e6;
}

.header-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}


.nav > a{
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
  color: #e6e6e6;
}

.nav > a:last-of-type{
  margin-right: 1.5rem;
}

.nav > a:hover{
  text-decoration: underline;
}

/* ------------------- */
/* ----- footer ------ */
/* ------------------- */

.footer-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 4rem;
  background-color: #252525;
  color: #AAA;
}

.footer-title{
  font-size: 0.8rem;
}

/* -------------------- */
/* ------ pages ------- */
/* -------------------- */

/* ------- error ------ */
.error-div{
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.error-link{
  background-color:#FF8C38;
  padding: 1rem 3rem;
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

/* ------ home ------- */

.home-title, 
.home-paragraph,
.home-link{
  margin: 0;
}

.home-paragraph{
  font-size: 1.2rem;
}

.home-title{
  font-size: 2.5rem;
}

.home-link{
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  padding: 2em;
  text-decoration: none;
  font-weight: 600;
  color: #37005f;
  border-radius: 5px;
}

.home-link:active,.home-link:focus {
  background-color: e6e6e6;
}

/* ------ about -------- */

.about-first-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  padding-top: 0;
  color:#e6e6e6
}

.about-div{
  padding: 0 1.8rem;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  color: #e6e6e6;
}

.about-subdiv{
  display: flex;  
  flex-direction: column;
}

.about-img {
  max-height: 25vh;
  object-fit: cover;
  border-radius: 50%;
  padding: 1rem;
  align-self: center;
  width: 25vh;
  border-style: dashed;
}

.about-title{
  font-weight: 600;
  margin: 0 0 .2rem 0;
  font-size: 2.5rem;
}

.about-subtitle{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.about-first-paragraph {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.about-paragraph:last-of-type{
  margin-bottom: 5rem;
}

.skills-div{
  display: flex;
  gap: 1em 1em;
  flex-flow: wrap;
  padding-bottom: 2rem;
}

.skill {
  background-color: #cbc0df;
  color: #37005f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: 400;
}

/* ----------- Projects -----------*/

.proj-title,
.proj-subtitle,
.proj-paragraph,
.img-caption{
  margin: 0;
}

.proj-title,
.proj-subtitle{
  font-weight: 400;
}

.proj-imgs-div{
  display: flex;
  flex-flow: wrap;
  gap: 1rem 2rem;
}

.img-caption{
  font-size: 0.8rem;
}

.proj-img{
  border-radius: 5px;
  max-width: 80vw;
}
/* --------- cars ---------- */

.cars-big-div{
  padding: 2rem;
}

.cars-div{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: center;  
  gap: 2rem;
}

.car-make,
.car-price,
.car-title,
.cars-big-div > h1{
  font-weight: 500;
}

.car-price > span{
  font-weight: 300;
  display: block;
}

.car-title{
  margin-bottom: 0.5rem;
}

.car-div{
  display: grid;
  grid-template: repeat(3, auto) / auto min-content;
  color: #000;
}

.car-img{
  grid-row: 1;
  grid-column: 1 / -1;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.car-price{
  margin-left: auto;
  margin-bottom: 0;
  grid-row: 2 /-1;
  grid-column: 2;
}

.car-make{
  margin: 0;
}

#make-filter{
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: .5rem;
  border: 2px solid #ffd298;
  background-color: #FFF7ED;
  width: 40%;
  max-width: 250px;
}

/* -------- host -------- */
.projects-nav-div,
.dashboard-welcome,
.review-div,
.dashboard-cars{
  padding: 1.5rem 1.5rem;
}

.dashboard-welcome{
  background-color: #FFEAD0;
}

.dashboard-p,
.dashboard-span{
  font-size: .8rem;
}

.dashboard-title,
.review-title{
  margin-top: 0;
}

.dashboard-income,
.review-title{
  margin-bottom: 0;
}

.review-title{
  display: flex;
  align-items: center;
}

.star{
  margin: 0 .2rem 0 .6rem;
}

.dashboard-span{
  font-weight: 400;
  text-decoration: underline;
}

.review-div{
  background-color: #FFDDB2;
}

.review-span,
.dashboard-p{
  font-weight: 300;
}

.dashboard-cars,
.host-cars{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-btn{
  background-color: #ef8335;
  border: none;
  width: 50%;
  max-width: 300px;
  padding: 1rem 0;
  margin:0 auto;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1rem;
}

.host-cars{
  margin: auto;
}


/* ------------------------- */
/* ----  media query ------- */
/* ------------------------- */

@media(min-width:680px){
  .home-div{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 25rem;
  }

  .home-link {
    color: #37005f;
    width: 30%
}

  .about-subdiv{
    max-width: 40vw;
  } 

  .about-div{
    flex-direction: row;
    gap: 7rem;
  }

  .dashboard-div{
    background-color: #FFEAD0;
    padding: 3rem 0;
    margin: auto 10%;
    display: grid;
    grid-template-areas: 
      'welcome cars'
      'reviews cars';
  }

  .dashboard-welcome{
    grid-area: welcome;
    text-align: center;
  }

  .review-title{
    justify-content: center;  
  }

  .review-div{
    grid-area: reviews;
    background-color: #FFEAD0;
  }

  .dashboard-cars{
    grid-area: cars;
    font-size: 1rem;
  }

  .host-cars{
    width: 30%;
  }

}